@import "tailwindcss";
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/hamlindigo';

.logout-button, .login-button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.logout-button {
	background-color: #f44336;
}

.logout-button:hover {
	background-color: #d32f2f;
}

.login-button {
	background-color: #4285F4;
}

.login-button:hover {
	background-color: #3367d6;
}

.logout-button, .login-button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.logout-button {
	background-color: #f44336;
}

.logout-button:hover {
	background-color: #d32f2f;
}

.login-button {
	background-color: #4285F4;
}

.login-button:hover {
	background-color: #3367d6;
}
